[user]
	email = halocaridina@gmail.com
	name = Scott R. Santos
	signingkey = CA3420A168D65608
[color]
	ui = true
[core]
	editor = vim
[push]
	default = simple
[commit]
	gpgsign = true
[pull]
	rebase = false
[url "https://github.com/"]
	insteadOf = git://github.com/
